:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: rgb(163, 162, 248);
  display: flex;
  width: 100vw;
  height: 90vh;
  position: fixed;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.v-popper--theme-tooltip .v-popper__inner {
  max-width: 300px;
  background-color: #9f1c1c;
}

.v-popper--theme-tooltip .v-popper__arrow-outer {
  border-color: #9f1c1c;
}